<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" action="/add-notice" method="POST">
       <div class="uk-width-1-1@m">
            <div class="uk-width-1-1@m">
                <div class="uk-margin">
                     <caption>
                    <h2>Please Share any useful information</h2>
                </caption>
                    <label class="uk-form-label" for="form-stacked-text">Add to the notice board</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" rows="5" id="form-stacked-text" type="text" name="notice" placeholder="Type here "  ></textarea>
                    </div>
                </div>
            </div>
            <div class=" uk-width-1-1@m">
                <div class="uk-margin">
                    <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Add Notice</button>
                </div>
            </div>
        </div>
    </form>
</div>
