<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default  uk-card-body uk-box-shadow-large">
    <div class="eight wide column ">
        {{> new-category}}
    </div>
</div>

<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" action="/addpointofinterest" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-1-1@m">
                <div class="uk-width-1-1@m">
                    <form>
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">Add New Point of Interest</legend>
                            <div class="uk-margin">
                                <input type="text" name="poi" id="form-s-text" placeholder="Enter a new Point of Interest..." class="uk-input">
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-select">Select</label>
                                <div class="uk-form-controls">
                                    <select name="category" class="uk-select">
                                        {{#each categories}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="uk-margin">
                                    <input type="text" name="text" rows="5" id="form-s-text" placeholder="Description..." class="uk-input">
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-select">Please Review from 1 to 5</label>
                                    <input class="uk-range" type="range" value="0" min="0" max="5" step="1" name="method">
                                </div>
                                <div class="uk-margin">
                                    <input type="number" step="any" name="latitude" rows="5" id="form-s-text" placeholder="Latitude" class="uk-input">
                                </div>
                                <div class="uk-margin">
                                    <input type="number" step="any" name="longitude" rows="5" id="form-s-text" placeholder="longitutde" class="uk-input">
                                </div>
                        </fieldset>
                    </form>
                </div>

                <div class="uk-margin">
                    <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Add Point of Interest</button>
                </div>
            </div>
            <div class=" uk-width-1-2@m">
            </div>
        </div>
    </form>
</div>
