<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Notices to Date
        </caption>
        <thead>

        <th>Method donated</th>
        <th>User</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each notices}}
            <tr>
                <td>{{notice}}</td>
                <td> {{donor.firstName}} {{donor.lastName}} </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>