<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Places of Interest
        </caption>
        <tr>
            <th>Amount</th>
            <th>Method donated</th>
            <th>image</th>
            <th>email</th>
        </tr>
        <tbody class="uk-text-left">
        {{#each pointsofinterest}}
            <tr>
                <td> {{amount}} </td>
                <td> {{method}} </td>
                <td> {{image}} </td>
                <td> {{email}}  </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
