<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Kilcash Points Of Interest" subTitle="Add A Point of Interest"}}
    {{> main-menu }}
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>

    <div class="uk-width-expand@m">{{> addpointofinterest}}</div>
</div>


</div>