<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Point of Interest" subTitle="New POIS"}}
    {{> main-menu }}
</div>
<h1 class="uk-heading-primary">Kilcash Gallery</h1>

<div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        {{> upload }}
    </div>
</div>

<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each images}}
            {{> card}}
        {{/each}}
    </div>
</div>