<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-Large" uk-grid>
    {{> title-card title="Kilcash Visitor Area" subTitle="Please share any news & updates"}}
    {{> main-menu }}
</div>

<div class="uk-width-1-1@m">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>

        <div class="uk-width-expand@m">{{>add-notice}}</div>
    </div>
</div>
