<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Kilcash Notice Board" subTitle="Please update with any news"}}
    {{> main-menu }}
</div>

<div class="uk-width-1-1@m uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            {{> notice-list}}
        </div>
    </div>
</div>
