<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Kilcash Points Of Interest" subTitle="Updat Point of Information"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin uk-flex-center ">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m uk-flex-center">
            <div class="uk-card uk-flex-center uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Update the Point of Interest </h3>
                {{> pointsofinterest-form}}
            </div>
        </div>
    </div>
</div>